# Ignore Gradle project-specific cache directory
.gradle

# Common working directory
run/

/build
/work_dir
/config
/data
/plugins
/bots

/.idea

# Local Test Launch Point working directory
/mirai

# secrets or personal settings
local.properties

/logs
*.log

.DS_Store
